{% extends "base.html" %}

{% block body %}
{% if user.is_authenticated %}
<h2 class="mt-4">Welcome, {{user.username}}</h2>
{% endif %}
<form method="get" action="{% url 'index' %}" class="mb-4">
    <label for="tag" style="font-size: 1.3rem;">Filter by Tag: </label>
    <select name="tag" id="tag" class="w-25 text-center" style="height: 2.3rem;">
      <option value="">--All Tags--</option>
      {% for tag in tags %}
        <option value="{{ tag.name }}" {% if request.GET.tag == tag.name %}selected{% endif %}>{{ tag.name }}</option>
      {% endfor %}
    </select>
    <button type="submit" style="width: 6rem;" class="btn btn-primary">Filter</button>
  </form>
    
  <div class="container py-4">
    <div class="row gy-4">
        {% for photo in photos %}
        <div class="col-12 col-sm-6 col-lg-3">
            <div class="card shadow">
                <img src="{{ photo.uploaded_photo.url }}" alt="{{ photo.title }}" class="card-img-top img-fluid">
                <div class="card-body">
                    <h5 class="card-title">{{ photo.title }}</h5>
                    <p class="card-text text-muted">
                        {% for tag in photo.tags.all %}
                        {{ tag.name }}{% if not forloop.last %}, {% endif %}
                        {% endfor %}
                    </p>
                    <div class="d-flex ">
                        <form action="{% url 'like_photo' photo.id %}" method="post" class="me-3">
                            {% csrf_token %}
                            <button class="btn b btn-sm" data-id="{{ photo.id }}">❤</button>
                        </form>
                        <span id="like-count-{{ photo.id }}" class="me-3">{{ photo.total_likes }} Likes</span>

                        <form action="{% url 'dislike_photo' photo.id %}" method="post" class="me-3">
                            {% csrf_token %}
                            <button class="btn btn-sm" data-id="{{ photo.id }}">❌</button>
                        </form>
                        <span id="dislike-count-{{ photo.id }}">{{ photo.total_dislikes }} Dislikes</span>
                    </div>
                    <div class="mt-3">
                        <a href="{% url 'photo_detail' photo.id %}" class="btn btn-link">Learn More ⏩</a>
                    </div>
                </div>
            </div>
        </div>
        {% empty %}
        <p>No photos available for this tag.</p>
        {% endfor %}
    </div>
</div>
    {% endblock %}
